<!DOCTYPE html>
<html>
<head>
    <title>Show YouTube Channel</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(window).load(function()
        {
            $('#myModal').modal('show');
        });
    </script>
    <style>
        a {
            text-decoration: none;
        }
    </style>
    
</head>
<body style="background-color: lightgrey;">
    <div id="app">
        <div v-if="loaded" class="p-5 text-white bg-dark" style="background-color: indigo;">
            <div class="w-75 mx-auto">
                <img v-bind:src="channel['profile_picture']" class="img-thumbnail rounded float-start mx-3" style="width: 150px;">
                <div class="m-5">
                    <a v-bind:href="'https://www.youtube.com/results?search_query=' + channel['name']" target="_blank" class="link-body-light">
                        <h1 class="display-2">{{ channel['name'] }}</h1>
                    </a>
                    
                    <p>{{ channel['description'] }}</p> 
                </div>
            </div>
            
            
        </div>

        <div v-if="loaded" class="w-50 mx-auto mt-5">
            <h3>{{ 'Showing #' + ((page - 1) * 20 + 1) + ' to #' + (page * 20) + ' videos:'}}</h3>
            <a v-for="video in channel['videos'].slice((page - 1) * 20, page * 20)" v-bind:href="video['video_link']" target="_blank">
                <div  class="card m-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img v-bind:src="video['thumbnail']" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ video['title'] }}</h5>
                                <p class="card-text">{{ video['description'] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            
        </div>

        <div v-if="loaded" class="w-50 mx-auto">
            <nav aria-label="Page navigation example" class="mx-auto">
                <ul class="pagination justify-content-center">
                    <li v-bind:class="page == 1 ? 'page-item disabled' : 'page-item'">
                        <a class="page-link" href="#" aria-label="Previous" v-on:click="page > 1 ? page-- : changePage(1)">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li v-for="num in Array.from({length: 5}, (_, i) => i + 1)" v-bind:class="page == num ? 'page-item active' : 'page-item'">
                        <a class="page-link" href="#" v-on:click="changePage(num)">{{ num }}</a>
                    </li>
                    <li v-bind:class="page == 5 ? 'page-item disabled' : 'page-item'">
                        <a class="page-link" href="#" aria-label="Next" v-on:click="page < 5 ? page++ : changePage(5)">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        

  
    <!-- Modal -->
        <div class="modal fade modal-dialog modal-dialog-centered" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title fs-5" id="staticBackdropLabel">Please upload 'youtube_channel_json.php'</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <input type="file" class="form-control" id="inputGroupFile01" @change="handleFileChange">
                        </div>
                    </div>
                    <!-- <div class="modal-footer">

                    </div> -->
                </div>
            </div>
        </div>

        

          
    </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        channelDetails: {},
        loaded: false,
        page: 1,
      },
      methods: {
        handleFileChange(event) {
            const file = event.target.files[0];
            const reader = new FileReader();

            reader.onload = () => {

                const fileContent = reader.result;

                this.channel = JSON.parse(fileContent);
                this.loaded = true;

                console.log(JSON.parse(fileContent)); // You can do something with the file content here

                $('#myModal').modal('hide');

            };

            reader.readAsText(file);
        },

        changePage(page_number) {
            this.page = page_number;
        }
      }
    });

  </script>
</body>